{% extends "core/base.html" %}

{% load static %}

{% block title_complement %}{% if title %} {{title}} {% endif %}{% endblock title_complement %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock css %}

{% block main %}
  <div class="home pt-1">
    <div class="criar-novo-produto">
      <form
        name="criar-novo-produto" 
        id="form-new-product"
        method="post"
        >
        <p class="message-error-product"></p>
        <p>nome: <input 
          type="text" 
          name="nome"
          id="nome" 
          required></p>
        <p>preco: <input 
          type="number" 
          step="0.01" 
          name="preco" 
          id="preco"
          required></p>
        <button 
          type="submit"
          class="btn btn-primary"
          name="criar-novo-produto"
          id="create-new-product-btn-submit"
          >Cadastrar</button>
      </form>
    </div>
    <div class="listar-todos-os-produtos">
      <form method="get" 
        name="filtrar-produtos"
        id="form-filter-products"
        >
        <span>data de criacao: <input 
            type="date"
            name="data"
            id="data"
            class="data"
            >
        </span>
        <span>Nome do produto: <input 
          type="text"
          name="nome-produto"
          id="nome-produto"
          class="nome-produto"
          >
        </span>
        <button 
          type="submit"
          class="btn btn-primary m-2 btn-filtrar-produtos-ajax"
          name="filtrar-produtos-ajax"
          >Filtrar</button>
      </form>
      {% include "core/components/_produtos.html" %}
    </div>
  </div>
{% endblock main %}

{% block script %}
<script src="{% static 'core/js/home.js' %}"></script>
{% endblock script %}