<div id="produtos">
  {% for produto in produtos %}
  <div class="card p-2 w-100 mt-2" id="product-{{ produto.id }}">
    <input type="hidden" name="produto_id" value="{{produto.id}}" />
    <p class="nome">{{produto.nome}}</p>
    <p class="preco">R$:{{produto.preco}}</p>
    <div class="acoes">
      <button class="btn btn-warning btn-sm">Editar</button>
      <button
        class="btn btn-danger btn-sm deletar-produto-btn"
        type="submit"
        name="deletar-produto"
        value="{{produto.id}}"
      >
        Deletar
      </button>
    </div>
  </div>
  {% endfor %}
  <!-- Modal trigger button -->
  <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalId">
    Launch
  </button>
  
  <!-- Modal Body -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Body
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
  
  
</div>
